.idea
__pycache__
*final_output*
assignments.csv
locations30.csv
temp.txt
*log.txt
*.DS_Store
locations.py
cost.csv
time.csv
calc_trips.csv
visualized.html
vis-010220.html
vis-022620.html
vis-010220-8hours.html
vis-010220-best.html
vis2-010220.html
vis-010220-genopt.html
vis-022620-genopt.html
stage1vis.html
vis-010220-genopt-best.html
/geocode.key
*.html
*.pyc
input/
output/
config/app_config.yaml
config/general_config.yaml
*.pdf