.idea
__pycache__
*final_output*
assignments.csv
locations30.csv
temp.txt
*log.txt
*.DS_Store
locations.py
cost.csv
time.csv
calc_trips.csv
/geocode.key
*.html
*.pyc
input/
output/
config/app_config.yaml
config/optimizer_config.yaml
config/log_config.yaml
*.pdf
temp.key
venv/
alembic.ini